body{
    font-family: 'Poppins', sans-serif;
    margin: 0cm;
}
h1{
    font-size: 30px;
}
.orange{
    color: orange;
    /* font-size: 0px; */
}
.fexibal-continar{
    display: flex;
    margin-bottom:0px;
}
.half-width{
    margin-right: 50px;
    width: 60%;
    padding: 5%;
   
}
.half-width img{
    width: 80%;
    padding: 10%;

}

.link-button{
    text-decoration: none;
    background: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
   
}
.exfperincr-item{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    border-radius: 10px;
    /* padding-bottom: 10px; */
    margin-bottom: 40px;
    box-shadow: 10px 10px 40px gray;
}
.experince-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
